body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: large;
}

#game-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    min-height: 600px;

    position: relative;
    display: flex;
    flex-direction: column;
}

#question-container {
    margin-bottom: 20px;
    min-height: 345px;
    margin: 0;

    #country-name{
        font-size: larger;
        font-weight: bold;
        margin-bottom: 26px;
    }
}

#settings-container{
    background-color: white;
    position: absolute;
    justify-content: center;
    z-index: 999;
    padding: 190px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#questions{
    font-size: small;
    position: relative;
    left: 35%;
    top: 35px;
    height: 0;
    margin: 0;
}

#country-name{
    margin-top: 10px;
   
}

button {
    padding: 10px;
    width: 80%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0;
}

button:hover {
    background-color: #45a049;
}

.option {
    background-color: #008CBA;
    border-radius: 4px;
    margin: 5px 0;
    font-size: medium;
}

.option.correct {
    background-color: #4CAF50;
}

.option.incorrect {
    background-color: #f44336;
}


#feedback-container {
    /* position: absolute; */
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6px;
    /* bottom: 12rem; */
    /* margin-top: 15px; */
    align-self: center;
}
#feedback{
    margin-top: 10px;
}

#score {
    /* position: relative; */
    /* bottom: 1%; */
    margin: 0;
    align-self: center;
}

#results {
    margin-top: 30px;
}

#results ul {
    list-style-type: none;
    padding: 0;
}

#results li {
    margin-bottom: 10px;
}
#next-button {
    /* display: none; 기본적으로 보이지 않게 설정 */
    visibility: hidden; /* 공간은 유지하지만 안 보이게 */
    margin-top: 15px;
    background-color: darkgray;
    border-radius: 4px;
  }
  
#replay-button{
    background-color: darkgray;
}

.countryList{
    font-weight: bold;
}


.question-count{
    width: 100%;
    margin: 3px;
    background-color: #4CAF50 !important;
}

  div#frequency-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .modalBtn{
    width: 110px;
  }